beautifulsoup4>=4.11.1
black
click
googletrans==3.1.0-alpha
openpyxl>=3.0.10
numpy>=1.21.6
pandas>=1.3.5
pylint
pytest
pytest-cov
Flask>=2.2.2
vaderSentiment>=3.3.2
nltk>=3.8
sentence-transformers>=2.2.2