.blog-post-meta {

}

.blog-post-datum {
	margin-bottom: 0;
}

.blog-post-body {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden !important;
	max-height: 100px;
	text-overflow: ellipsis;
}